body{
    padding: 0;
    top: 0;
}
.product{
    float: left;
    margin-left: 150px;
    width: 33.33333;
   text-align: center;
}
.container-percent{
    margin-top: 100px;
    align-items: center;
    width: 100%;
   display: inline;
}
.number-product p{
    background-color:rgb(73, 142, 142)   ;
    color: black;
    border-radius: 60%;
    width: 100px;
    height: 80px;
    line-height: 75px;
    text-align: center;
    margin-left: 100px;
    letter-spacing: 0;
    font-size: 40px;
    margin-bottom: 40px;
}
.container-form{
    float: left;
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
    display: inline;
    height: 100vh;
    width: 100%;
    
}
.container-form h1{
    text-align: center;
    margin-left: 100px;
    font-weight: 400 ;
}
.text-form{
    margin-top: 5px;
    width: 86%;
    padding-bottom: 200px;
    padding-top: 10px;
    border-radius: 4px;
    text-align: start;
    outline: none;
    font-size: 20px;
    width: 100%;
    
}
.container-form button{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: antiquewhite;

}
.container-form button:hover{
    opacity: 0.7;
}
.send{
    margin-top: 20px;
}




/* Bài 2 */
.clear{
    clear: both;
}


.phude{
    font-size: 10px;
    color:rgb(37, 24, 37);
    margin-top: 50px;
    margin-left: 50px;
}
.tiude-b2{
    color:black;
    text-align: center;
    text-transform: uppercase;
}
.form-b2{
    position: absolute;
    text-align: center;
    color: white;
    width: 50%;
    margin: 100px;
    margin-left: 25%;
    margin-right:25%;
    padding-top: 50px;
    padding-bottom: 40px;
    opacity: 0.8;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .4);
    box-shadow: 0 0 10px rgba(0,  0, 0, .4);
    border-radius: 10px;
}
.box-2{
    margin-top: 50rem;
    margin-bottom: 10rem;
    background: rgb(146, 178, 193);
    background-size: cover;
    background-position: center;
    height: 750px;
    text-align: center;
}
.lb-2{
    margin-bottom: 10px;
}
.row{
    margin-left: 90px;
    margin-right: -8px;
   

}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    color: black;
    
   
    
}
.input-grp2{
    margin-top: 10px;
    margin-bottom: 20PX;
    padding-bottom: 8px;
    font-size: 20px;
    opacity: 0.7;
    padding-top: 8px;
    border-radius: 4px;
    border: none;
    outline: none;

}
#select-value{
    padding: 5px;
    padding-right: 0px;
    padding-left: 1px;
    margin-left: 3px;
    cursor: pointer;
    margin-top: 20px;
    opacity: 0.7;
}
.option-item{
    opacity: 0.8;
    padding-right: 5px;
}
#input-description{
    font-size: 15px;
    width: 250px;
    height: 70px;
    opacity: 0.8;
}
.btn-2{
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #27616e;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.7;
}
.btn-2:hover{
    opacity: 1; ;
}


/* Bài 3 */
.type{
    font-style: normal;
    color: rgb(11, 11, 11);
}
.list{
    color: black;
}
footer {
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: #b1eee7;
    font-style: normal;
    font-size: 1 rem;
}
footer .menu-footer {
    padding: 1rem;
    display: flex;
justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 1;
    width: 25%;
}
footer .menu-footer a{
    font-size: 1.5rem;

}
footer .menu-footer ul li a{
    font-size: 1.25rem;

}
footer .menu-footer a:hover{
    font-weight: 700;
    color: #B51F1F;
}
footer .menu-footer:hover .type{
    padding-bottom: 0.25rem;
    border-bottom: 2px solid #B51F1F;


}
footer .menu-footer .list{
    padding: 0;
    font-style: normal;
}
footer .menu-footer:hover {
    background-color: #c2c1c1;
    border-radius: 1rem;
}
footer .menu-footer img {
    width: 10rem;
}